# Figure out your PIXOOs ip address, available in settings of the Pixoo app
PIXOO_IP=

# Create a random string to use as a notification topic, such as `openssl rand -hex 20`
UNIQUE_NOTIFICATION_TOPIC=